html, body, .App, #root{
  min-height: 100%;
  height: 100%;
}

.head{
  font-size: 4rem;
  width: 100%;
  margin: 4rem 0px 0px 0rem;
  padding: 0px;
  line-height: 40px;
}

.line-left{
  border-top: solid 3px white;
  height: 10px;
}

.line-right{
  border-top: solid 3px rgb(255, 172, 49);
  height: 10px;
}

.degree-number{
  color: white;
  font-size: 8rem;
  margin: 0px;
  font-weight: 800;
  line-height: 6rem;
  padding: 2rem 0rem;
}

.place{
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.651);
  font-weight: bold;
}

.left{
  background-color: rgb(255, 172, 49);
  color: white;
  height: 100%;
}

.left-child{
  width: 50%;
  float: right;
}

.right{
  background-color: white;
  color: rgb(255, 172, 49);
  height: 100%;
} 

.right-child{
  width: 50%;
  float: left;
}

.temp-degree{
  font-size: 2rem;
  font-weight: 500;
}

.contain{
  height: 100%;
}